.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container > div {
  background-color: #fafafa;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

.transaction-nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 1px 1px 1px 0px rgba(121, 121, 121, 0.75);
}

.filter-trans {
padding-top: 15px;
}

.filter-trans > p{
  display:inline;
}

.filter-trans > select{
  width: 100px;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  margin-right: 4px;
}

body{
  direction: rtl;
  padding-top: 50px;
}

.driver-search-input{
  height: 25px; 
  margin-right: 4px;
}

.driver-search-btn{
  height: 30px; 
  width: 80px;
  outline: none;
  border: none;
  background-color: rgb(233, 221, 200);
  margin-right: 4px;
  font-weight: bold;
  cursor: pointer;
}


.filtered-day-header{
  background-color: #eeeeee;
  margin: 0;
  padding: 4px 25px;
}

.trans-card{
  border-bottom: 1px solid rgba(201, 201, 201, 0.863);
  background-color: #fafafa;
  padding: 28px 0;;
}

.text-green , .text-red{
  font-weight: bold;
}

.text-green{
  color: rgb(71, 196, 33);
}

.text-red{
  color: rgb(190, 9, 48);
}

.text-small {
  font-size: 12px;
}