body{
direction: rtl;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: space-between;
  
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100%;
  /* margin: 10px; */
  text-align: center;
  font-size: 16px;
}

.filter-trans {
padding-top: 15px;
}

.filter-trans > p{
  display:inline;
}

.filter-trans > select{
  width: 100px;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  margin-right: 4px;
}