body{
direction: rtl;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
  justify-content: space-between;
  
}

.flex-container > div {
  background-color: #fafafa;
  width: 100%;
  /* margin: 10px; */
  text-align: center;
  font-size: 16px;
}

.filter-trans {
padding-top: 15px;
}

.filter-trans > p{
  display:inline;
}

.filter-trans > select{
  width: 100px;
  height: 30px;
  padding: 2px;
  font-size: 16px;
  margin-right: 4px;
}

.filtered-day-header{
  background-color: #eeeeee;
  margin: 0;
  padding: 4px 25px;
}

.trans-card{
  border-bottom: 1px solid rgba(201, 201, 201, 0.863);
}